/*Classes gerais da pagina.*/
html{
    height:100%;
}

/*Sticky Footer*/
body {
    display: flex;
    height: 100%;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.site-logo{
    margin-left: 5px;
    font-size: 1.6em;
    font-weight: bold;
}
